/* Dialogs */
.mercury-framed-panel {
  background-color: #f5f5f5;
  color: #333;
}

.mercury-framed-panel h1 {
  color: #f5f5f5;
  border-bottom: 1px solid #222;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.mercury-framed-panel {
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  font-size: 9.5pt;
}

.mercury-framed-panel.embedded {
  background-color: #eaeaea;
}
.mercury-framed-panel.embedded fieldset {
  background: none;
  border: none;
}
.mercury-framed-panel.embedded h2 {
  border-bottom: 1px solid #ccc;
}
.mercury-framed-panel.embedded .btn {
  float: right;
}

/*
 * Override Panel Settings
 *----------------------------------------------------------------------------*/
.mercury-panel .panel-actions {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 1em;
  overflow: hidden;
}
.mercury-panel .panel-actions .btn {
  float: right;
}

.mercury-panel-pane .loading {
  text-align: center;
  float: left;
  margin-top: 50%;
  width: 100%;
}

.mercury-panel .hidden {
  display: none;
}
/*
 * Image Panel
 *----------------------------------------------------------------------------*/
.mercury-panel .add-image-action {
  display: none;
}

.mercury-panel .add-image-action iframe {
  width: 100%;
  height: 192px;
}

.mercury-panel .add-image-action.active {
  display: block;
}
.mercury-panel .add-image-action ol {
  list-style: none;
}

.mercury-panel .add-image-action li {
  margin: 0;
  padding: 0;
}

.mercury-panel .add-image-action label {
  font-size: 11px;
  text-align: left;
  display: block;
  overflow: visible;
  float: none;
  line-height: normal;
  margin-top: 20px;
  margin-right: 0;
  width: auto;
}
.mercury-panel .add-image-action textarea {
  font-size: 1em;
  width: 100%;
}

.image-filter input.filter {
  background-color: white;
  background-image: url(/assets/mercury/search-icon.png);
  background-position: 4px center;
  background-repeat: no-repeat;
  border-radius: 30px;
  font-size: 1em;
  outline: none;
  margin: 1em 0;
  padding-left: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mercury-panel ul.media-grid {
  list-style: none;
  overflow: hidden;
  padding: 0;
  width: 400px;
}

.mercury-panel .media-grid > li {
  float: left;
  margin-bottom: 16px;
}
.mercury-panel .media-grid > li:nth-child(odd) {
  margin-right: 16px;
}

.mercury-panel .media-item {
  border: 1px solid #ccc;
  cursor: default;
  line-height: 1;
  display: block;
  position: relative;
  padding: 4px;
  max-width: 182px;
}

.mercury-panel .media-item:hover {
  border-color: #268bd2;
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.mercury-panel .media-item > .media-info {
  background-color: rgba(255,255,255,0.9);
  display: none;
  overflow: hidden;
  position: absolute;
  width: 182px;
  height: 182px;
  z-index: 2;
}
.mercury-panel .media-item > .media-info .close {
  position: absolute;
  top: 0;
  right: 2px;
  text-decoration: none;
  color: black;
}

.mercury-panel .media-item > .media-info.active {
  display: block;
}

.mercury-panel .media-item > .media-info dl {
  margin: 0;
  padding: 0.5em 1em;
}
.mercury-panel .media-item > .media-info dt {
  font-size: .75em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0 0.25em;
  padding: 0;
}
.mercury-panel .media-item > .media-info dd {
  margin: 0;
  padding: 0;
}

.mercury-panel .media-item > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.mercury-panel .media-caption {
  max-width: 182px;
  margin: 0 5px;
  font-size: 12px;
  line-height: 0.25;
}
.mercury-panel .media-caption a {
  color: #268bd2;
  text-decoration: none;
}
.mercury-panel .media-caption a:hover {
  color: #16527C;
  text-decoration: underline;
}

/*
 * Sitemap Panel
 *----------------------------------------------------------------------------*/
.mercury-panel ul.sitemap {
  padding: 0;
  width: 400px;
}

.mercury-panel ul.sitemap li {
  background: url(/assets/tree-line-horizontal.png) no-repeat left 12px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 2.5em;
}
.mercury-panel ul.sitemap li:last-child {
  background-image: url(/assets/tree-line-horizontal-last.png);
}
.mercury-panel ul.sitemap,
.mercury-panel ul.sitemap ul {
  background: url(/assets/tree-line-vertical.png) repeat-y;
}

.mercury-panel ul.sitemap > li article {
  background-color: #666;
  border-radius: 0.25em;
  border: 1px solid transparent;
  color: white;
  cursor: default;
  margin-bottom: 2px;
  padding: 0.25em 0.5em;
}
/* Nested coloring of pages */
.mercury-panel ul.sitemap > li ul li article {
  opacity: 0.8;
}
.mercury-panel ul.sitemap > li ul li article + ul article {
  opacity: 0.6;
}
.mercury-panel ul.sitemap > li ul li article + ul article + ul article {
  opacity: 0.4;
}
.mercury-panel ul.sitemap > li article:hover {
  background-color: #444;
  border-color: #268bd2;
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.mercury-panel ul.sitemap > li article span {
}
.mercury-panel ul.sitemap > li article .path {
  color: #ccc;
  margin-left: 0.5em;
}
.mercury-panel ul.sitemap > li article .icon {
  background: url('/assets/sitemap/unpublished.png') no-repeat left top;
  background-size: 16px 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -4px;
  margin-top: -4px;
  width: 16px;
  height: 16px;
}
.mercury-panel ul.sitemap > li article .icon.has-changes {
  background-image: url('/assets/sitemap/has-changes.png');
}
.mercury-panel ul.sitemap > li article .icon.published {
  background-image: url('/assets/sitemap/published.png');
}
.mercury-panel ul.sitemap .caret {
  border-color: white transparent transparent transparent;
  border-style: solid;
  border-width: 4px;
  display: inline-block;
  float: right;
  margin: 0.5em 0;
  width: 0;
  height: 0;
}

.mercury-panel ul.sitemap .caret.north {
  border-color: transparent transparent white transparent;
  margin: 0.2em 0;
}

/* Increase the gap for top level pages */
.mercury-panel ul.sitemap > li {
  margin-bottom: 8px;
}

.mercury-panel ul.sitemap ul {
  padding: 0;
}
.mercury-panel ul.sitemap ul:before,
.mercury-panel ul.sitemap ul:after {
  content: "";
  display: table;
}
.mercury-panel ul.sitemap ul:after {
  clear: both;
}

/* Redirects panel */
.mercury-panel ul.redirects {
  width: 400px;
  padding: 0;
}

.mercury-panel ul.redirects li {
  position: relative;
  list-style: none;
}

.mercury-panel ul.redirects > li article {
  background-color: #666;
  border-radius: 0.25em;
  border: 1px solid transparent;
  color: white;
  cursor: default;
  margin-bottom: 2px;
  padding: 0 0.5em;
}

.mercury-panel ul.redirects > li article:hover {
  background-color: #444;
  border-color: #268bd2;
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.mercury-panel ul.redirects > li article .path {
  font-weight: bold;
}

.mercury-panel ul.redirects > li article .destination {
  margin-left: 0.25em;
}

.mercury-panel ul.redirects > li article .remove {
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 0;
  right: 5px;
}

/* Versions panel */
.mercury-panel ul.versions {
  width: 400px;
  padding: 0;
}

.mercury-panel ul.versions li {
  position: relative;
  list-style: none;
}

.mercury-panel ul.versions > li article {
  background-color: #666;
  border-radius: 0.25em;
  border: 1px solid transparent;
  color: white;
  cursor: default;
  margin-bottom: 2px;
  padding: 0 0.5em;
}
.mercury-panel ul.versions > li article .view,
.mercury-panel ul.versions > li article .revert {
  position: absolute;
  top: 5px;
  right: 5px;
}
.mercury-panel ul.versions > li article .revert {
  display: none;
}
